.bg_navbar{
    background-color: #3a546d;
    color: rgba(255,255,255,1);
}

.nav-link,.navbar-brand{
    color: white!important;
    text-transform: uppercase;
}


.navbar-toggler-icon{
    color: white;
}

section{
    padding:40px;
}
.uno,.tre{
    background-color: #1abc9c;
}

.uno .bi-star-fill,
.tre .bi-star-fill{
    color: white;
    padding: 5px;
}

.uno .line,
.tre .line{
    width: 100px;
    height: 3px;
    background-color: white;
}
ul{
    list-style-type: none;
    display: inline-block;
}

ul li {
    margin: 0px 5px;
    color: white;
}

ul li a{
    text-decoration: none;
    color: white;
}

.uno h2,.tre h2{
    color: white;
}
.colored-white{
    color: white;
}

.due h2,.quattro h2{
    color: black;
}

.due .bi-star-fill,
.quattro .bi-star-fill{
    color: black;
    padding: 5px;
}

.due .line,
.quattro .line{
    width: 100px;
    height: 3px;
    background-color: black;
    color: black;
}

img{
    width: 100%;
    border-radius: 15px;
}

img:hover{
    animation: curve 1s ease 0s;
}

@keyframes curve{
    100%{
        border-radius: 100px;
        filter: brightness(50%);
    }
}
p{
    color: white;
}

.download{
    cursor: pointer;
}


.bi-download{
    color: white;
    border: 2px solid white;
    padding: 5px;
    width: 150px;
}
.bi-download span{
    padding:0 3px;
}


.footer-top{
    background-color: rgb(33, 33, 141);
}
h4{
    color: white;
}

.footer-top .bi{
    color: white;
    padding:10px;

}

p>span{
    color: #1abc9c;
}

.footer-bottom{
    background-color: #3a546d;
    color: white;
}


.nav-link:hover{
    text-decoration:underline overline;
    color: dimgrey;
}

input,textarea{
    border-top: none;
    border-left: none ;
    border-right: none;
    border-bottom: 2px solid black;
}

.btn{
    background-color: #1abc9c;
    color: white;
}


.mt-3 a{
    font-size:2rem
}


