.navbar{
    background-color: darkblue;
    color: white;
}

.navbar-brand,.nav-link{
    color: white;
    text-transform: uppercase;
}


.navbar-toggler-icon{
    color: white;
}

.icona-menu{
    color: white;
}

section{
    padding:40px;
}
.uno,.tre{
    background-color: rgb(28, 129, 28);
}

.uno .bi-star-fill,
.tre .bi-star-fill{
    color: white;
    padding: 5px;
}

.uno .line,
.tre .line{
    width: 100px;
    height: 3px;
    background-color: white;
}
ul{
    list-style-type: none;
    display: inline-block;
}

ul li {
    margin: 0px 5px;
    color: white;
}

ul li a{
    text-decoration: none;
    color: white;
}

.uno h2,.tre h2{
    color: white;
}
.colored-white{
    color: white;
}

.due h2,.quattro h2{
    color: black;
}

.due .bi-star-fill,
.quattro .bi-star-fill{
    color: black;
    padding: 5px;
}

.due .line,
.quattro .line{
    width: 100px;
    height: 3px;
    background-color: black;
    color: black;
}

img{
    width: 100%;
    border-radius: 15px;
}

p{
    color: white;
}

.download{
    cursor: pointer;
}


.bi-download{
    color: white;
    border: 2px solid white;
    padding: 5px;
    width: 150px;
}
.bi-download span{
    padding:0 3px;
}


.footer-top{
    background-color: rgb(33, 33, 141);
}
h4{
    color: white;
}

.footer-top .bi{
    color: white;
    padding:10px;

}

p>span{
    color: rgb(144, 146, 144);
}

.footer-bottom{
    background-color: rgb(26, 20, 66);
    color: white;
}


.nav-link:hover{
    text-decoration:underline overline;
    color: dimgrey;
}

input,textarea{
    border-top: none;
    border-left: none ;
    border-right: none;
    border-bottom: 2px solid black;
}

.btn{
    background-color: rgb(28, 129, 28);
    color: white;
}